body, html {
	font-family: 'Open Sans', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #666;
	font-weight: 400;
	width: 100% !important;
	height: 100% !important;
}
h2 {
	font-family: 'Montserrat', sans-serif;
	margin: 0 0 20px 0;
	font-weight: 700;
	font-size: 32px;
	color: #333;
}
h3 {
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
	font-weight: 700;
	color: #333;
}
h4 {
	font-size: 18px;
	color: #333;
}
h5 {
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
p {
	font-size: 15px;
}
p.intro {
	margin: 12px 0 0;
	line-height: 24px;
}
a {
	color: #2e6da4;
	font-weight: 400;
}
a:hover, a:focus {
	text-decoration: none;
	color: #ffd700;
}
li {
	list-style-type: decimal;
}
ol {
	counter-reset: list;
}
ol {
	counter-increment: list;
	content: counter(list) ".";
}
hr {
	height: 2px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #2e6da4;
	margin-bottom: 20px;
	border: 0;
}




#menu {
	padding: 20px;
	transition: all 0.8s;
}
#menu.navbar-default {
	background-color: white;
	border-color: rgba(231, 231, 231, 0);
	box-shadow: 0 0 30px rgba(0,0,0,0.2)
}
#menu a.navbar-brand {
	font-family: 'Montserrat', sans-serif;
	font-size: 32px;
	font-weight: 700;
	color: #2e6da4;
	text-transform: uppercase;
	letter-spacing: -1px;
}
#menu.navbar-default .navbar-nav > li > a {
	font-family: 'Montserrat', sans-serif;
	text-transform: uppercase;
	color: #2e6da4;
	font-size: 14px;
	font-weight: 700;
	padding: 8px 2px;
	border-radius: 0;
	margin: 9px 20px 0 20px;
}
#menu.navbar-default .navbar-nav > li > a:hover {
	color: #ffd700;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
	color:#ffd700 !important;
	background-color: transparent;
}




.navbar-toggle {
	border-radius: 0;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: white;
	border-color: white;
}
.navbar-default .navbar-toggle:hover>.icon-bar {
	background-color: #2e6da4;
}
.section-title {
	margin-bottom: 70px;
}
.section-title h2 {
	position: relative;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
}
.section-title h2::after {
	position: absolute;
	content: "";
	background-color: #ffd700;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
.btn-custom {
	text-transform: uppercase;
	color: black;
	background-color: #ffd700;
	padding: 14px 20px;
	letter-spacing: 1px;
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	border-radius: 4px;
	transition: all 0.3s;
}
.btn-custom:hover, .btn-custom:focus, .btn-custom.focus, .btn-custom:active, .btn-custom.active {
	color: white;
	background-color: #2e6da4;
}
.btn:active, .btn.active {
	background-image: none;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:focus, .btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
	outline: none;
	outline-offset: 0;
}




.intro {
	display: table;
	width: 100%;
	padding: 0;
	background: url(../img/intro-bg.jpg) center center no-repeat;
	background-color: white;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.intro .overlay {
	background: rgba(0,0,0,0.3);
}
.intro h1 {
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size: 62px;
	font-weight: 700;
	margin-top: 0;
	margin-bottom: 10px;
	text-shadow: 0 0 15px rgba(0,0,0,0.5)
}
.intro p {
	color: white;
	font-size: 17px;
	line-height: 28px;
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
	margin-bottom: 40px;
	background: rgba(0,0,0,.45);
}
header .intro-text {
	padding-top: 350px;
	padding-bottom: 150px;
	text-align: center;
}




#get-touch {
	padding: 40px 0 30px;
	color: white;
	background: #2e6da4;
}
#get-touch h3 {
	font-size: 24px;
	font-weight: 400;
	color: white;
	margin: 0 0 10px 0;
}
#get-touch .btn-custom {
	margin: 0;
	background: transparent;
	border: 2px solid white;
}
#get-touch .btn-custom:hover {
	color: #2e6da4;
	background: white;
	border: 2px solid white;
}




#about {
	padding: 110px 0;
	background: #2e6da4;
	color: white;
}
#about h3 {
	font-size: 15px;
	margin: 0 0 20px 0;
	color: white;
}
#about h2 {
	position: relative;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(0, 0, 0, 0.09);
	color: white;
}
#about h2::after {
	position: absolute;
	content: "";
	background-color: #ffd700;
	height: 3px;
	width: 50px;
	bottom: -1px;
	left: 0;
}
#about .about-text ul {
	margin-bottom: 1px;
	margin-left: 1px;
	list-style-type: decimal;
	padding: 0;
	font-size: 15px;
}
#about .about-text ol:before {
	content: '\f00c';
	font-family: 'FontAwesome';
	color: black;
	font-size: 20px;
	font-weight: 300;
	padding-right: 8px;
}
#about p {
	line-height: 24px;
	margin: 30px 0;
}




#services {
	padding: 100px 0;
	background: white;
}
#services .service-media {
	margin: 10px;
}
#services .service-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#services .service-desc {
	margin: 10px 10px 20px;
}
#services h3 {
	font-weight: 700;
	padding: 5px 0;
}
#services .service-desc hr {
	margin-left: 0;
}




#services1 {
	padding: 100px 0;
	background: white;
}
#services1 .service-media {
	margin: 10px;
}
#services1 .service-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#services1 .service-desc {
	margin: 10px 10px 20px;
}
#services1 h3 {
	font-weight: 700;
	padding: 5px 0;
}
#services1 .service-desc hr {
	margin-left: 0;
}




#services2 {
	padding: 100px 0;
	background: white;
}
#services2 .service-media {
	margin: 10px;
}
#services2 .service-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#services2 .service-desc {
	margin: 10px 10px 20px;
}
#services2 h3 {
	font-weight: 700;
	padding: 5px 0;
}
#services2 .service-desc hr {
	margin-left: 0;
}




#services3 {
	padding: 100px 0;
	background: white;
}
#services3 .service-media {
	margin: 10px;
}
#services3 .service-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#services3 .service-desc {
	margin: 10px 10px 20px;
}
#services3 h3 {
	font-weight: 700;
	padding: 5px 0;
}
#services3 .service-desc hr {
	margin-left: 0;
}




#services4 {
	padding: 100px 0;
	background: white;
}
#services4 .service-media {
	margin: 10px;
}
#services4 .service-media img {
	position: relative;
	display: block;
	width: 100%;
	height: auto;
}
#services4 .service-desc {
	margin: 10px 10px 20px;
}
#services4 h3 {
	font-weight: 700;
	padding: 5px 0;
}
#services4 .service-desc hr {
	margin-left: 0;
}




#contact {
	padding: 100px 0 60px 0;
	background: #2e6da4;
	color: rgba(255,255,255,.65);
}
#contact .section-title {
	margin-bottom: 40px;
}
#contact h2 {
	color: #fff;
	margin-top: 10px;
	margin-bottom: 15px;
	padding-bottom: 15px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#contact h4 {
	color: #fff;
	margin-top: 22px;
	margin-bottom: 60px;
	padding-bottom: 20px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.09);
}
#contact form {
	padding-top: 20px;
}
#contact h3 {
	font-size: 17px;
	font-weight: 600;
}
#contact .text-danger {
	color: #ffd700;
	text-align: left;
}
#contact .btn-custom {
	margin: 30px 0;
	background: transparent;
	border: 2px solid white;
}
#contact .btn-custom:hover {
	color: #2e6da4;
	background: white;
}
label {
	font-size: 12px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	float: left;
}
#contact .form-control {
	display: block;
	width: 100%;
	padding: 6px 12px;
	font-size: 16px;
	line-height: 1.42857143;
	color: #2e6da4;
	background-color: white;
	background-image: none;
	border: 1px solid white;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
}
#contact .form-control:focus {
	border-color: #2e6da4;
	outline: 0;
	-webkit-box-shadow: transparent;
	box-shadow: transparent;
}
.form-control::-webkit-input-placeholder {
color: #2e6da4;
}
.form-control:-moz-placeholder {
color: #2e6da4;
}
.form-control::-moz-placeholder {
color: #2e6da4;
}
.form-control:-ms-input-placeholder {
color: #2e6da4;
}
#contact .contact-item {
	margin: 20px 0;
}
#contact .contact-item span {
	color: rgba(255,255,255,1);
	display: block;
}
#contact .social {
	border-top: 1px solid rgba(255,255,255,0.1);
	padding-top: 50px;
	margin-top: 50px;
	text-align: center;
}
#contact .social ul li {
	display: inline-block;
	margin: 0 20px;
}
#contact .social i.fa {
	font-size: 24px;
	padding: 10px;
	color: rgba(255,255,255,0.6);
	transition: all 0.3s;
}
#contact .social i.fa:hover {
	color: white;
}




#footer {
	background: #f6f6f6;
	padding: 30px 0;
}
#footer p {
	color: #888;
	font-size: 14px;
}
#footer a {
	color: #2e6da4;
}
#footer a:hover {
	color: #ffd700;
}

@media (max-width: 768px) {
#about img {
	margin: 50px 0;
}
}
